@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body bg-gray-50 text-dark;
}
@keyframes marqueeSlow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-slow {
  display: inline-block;
  min-width: 100%;
  animation: marqueeSlow 37s linear infinite; /* ⬅️ SLOW SPEED */
}


